###
standalone: true
###

// Responsive Layouts
@import 'responsive.css'

#container
    float left
    width 75%
    margin-top 50px
    margin-left 2%

#sidebar
    margin-left 75%
    z-index 1031
    position fixed
    .well
        border none
        
    
.navbar 
    max-width 80%
    background-color rgb(245, 245, 245)
    a:hover, a:focus 
        color rgb(44, 71, 98)

.footing
    margin-top 20%
    
body
    font-family "Baskerville,Garamond, Jenson, Bembo, Concorde, Gulliver, Rawlinson, Times New Roman, Serif"
    
a:hover, a:focus 
    color rgb(81, 127, 164)

.postbody
    margin-bottom 4%
    border-bottom 2px dashed rgb(245, 245, 245)